{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <br>
  <title>Universities</title>

  <link rel="stylesheet" href="{% static 'ourWebsite/styles2.css'%}" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar">
    <h1>Universities in Lebanon</h1>
    <div class="buttons">
      <ul>
        <li id="Home"><a href="{%url 'home'%}">Home</a></li>
      </ul>
    </div>

  </div>

  <br>

  <p>
    Lebanon served as an educational center for the MENA region for several
    years. This country has maintained this advanced educational system
    structure by well-training its teachers, as a result it has been known as
    the center for arts and culture in the Middle East. Lebanon is where a
    special interest in education and thriving for excellence takes place
    which is apparent by the number of prestigious universities that offer a
    variety of fields to study. <br>
    <br>
    Below is a list of some universities in Lebanon.
  </p>
  <br><br><br><br>

  <h2>American University of Beirut</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About AUB</h3>

        <p1>
          Founded in 1866, the American University of Beirut is a
          teaching-centered research university based on the American liberal
          arts model of higher education. AUB has over 8,000 students and 800
          faculty members.</p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          AUB is located in the capital of Lebanon, Beirut. The University
          campus is located in the area of Ras Beirut.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact AUB</h3>

        <p1>
          For more information: <br>
          E-mail: admissions@aub.edu.lb &nbsp;
          Telephone: (+961) 1 374374
        </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>Lebanese American University</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About LAU</h3>

        <p1>
          The Lebanese American University was founded in 1835 and has more
          than 8,500 students enrolled and is a member of the Association of
          American International Colleges and Universities.</p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          LAU has two campuses in Lebanon: Beirut and Byblos. In addition,
          LAU's New York Headquarters and academic center are located in
          midtown Manhattan, in close proximity to the United Nations.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact LAU</h3>

        <p1>For more information: <br>
          E-mail: admissions.byblos@lau.edu.lb / admissions.beirut@lau.edu.lb
          Telephone:Beirut Campus: +961 1 786456 / Byblos Campus: +961 9
          547254
        </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>Saint Joseph University</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About USJ</h3>

        <p1>
          Saint-Joseph University of Beirut is a private Lebanese university,
          founded in 1875 by the Society of Jesus. USJ is one of the oldest
          and main french university in Lebanon.</p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          USJ provides education on Beirut Campus, as well as its regional
          centers located in Tripoli, Zahle and Sidon.</p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact USJ</h3>

        <p1>For more information: <br>
          E-mail: service.orientation@usj.edu.lb
          Telephone: +961 (1) 421 128
        </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>Holy Spirit University of Kaslik</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About USEK</h3>

        <p1>USEK was founded in 1950 and ratified under the new Higher
          Education Law of 1962. USEK is the first university in Lebanon to be
          established as a private non-profit institution by Lebanese citizens
          .</p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>
        <p1>
          USEK main campus is located in Kaslik. In addition, USEK has three
          regional university centers located in Zahle, Chekka and Rmeich.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact USEK</h3>

        <p1>For more information: <br>
          E-mail: admissions@usek.edu.lb Telephone: (+961) 9 600 000
        </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>The University of Balamand</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About UOB</h3>

        <p1>
          The University of Balamand was founded in 1988. It offers its
          students hands-on application of theories, and relevant trainings in
          their respective fields.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          The University of Balamand has five campuses across Lebanon: Al
          koura Campus, Dekouaneh Campus, Faculty of Science Campus, Akkar
          Campus and Aley Campus.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact UOB</h3>

        <p1>For more information: <br>
          E-mail: uoblibraries@balamand.edu.lb
          Telephone: +961 6 931 958</p1>
      </div>
    </div>
  </div>
  <br><br><br><br>


  <h2>Notre Dame University</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About NDU</h3>

        <p1>
          Notre Dame University-Louaize (NDU) is a private,
          Lebanese non-profit Catholic institution of higher education.
          NDU is accredited by the New England Commission of
          Higher Education (NECHE).
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          Notre Dame University-Louaize (NDU) main campus is located in Zouk Mosbeh.
          In addition, NDU has two other campuses located in Koura and Shouf.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact NDU</h3>

        <p1>For more information: <br>
          E-mail: communications@ndu.edu.lb
          Telephone: +961 9 208 000
          /+961 9 218 950 </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>Al Maaref University</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About MU</h3>

        <p1>
          Al Maaref University is a new university that took its licence in 2011 from
          the Ministry of Education and Higher Education.
          The University is a not-for-profit institution.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          The main university campus is off Beirut Airport Avenue in the Capital Beirut,
          with a prospect of expansion to two more campuses in two major cities (Baalbeck-Beqaa, Nabatieh-South).
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact MU</h3>

        <p1>For more information: <br \> 
           E-mail: info@mu.edu.lb 
           Telephone: +961 1 820930 </p1>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2>Phoenicia University</h2>
  <div class="container">
    <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
        <h3>About PU</h3>

        <p1>
          Phoenicia University (PU) is a non-profit, private,
          and nonsectarian officially licensed institution of higher education.
        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Location</h3>

        <p1>
          PU campus is located in the District of Zahrani, in the Southern Governorate of Lebanon.

        </p1>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <h3>Contact PU</h3>

        <p1>For more information: <br>
          E-mail: info@pu.edu.lb 
          Telephone:   +961 7 420720
        </p1>

      </div>
    </div>
  </div>
  <br><br><br><br>


</body>

</html>